.cancelBtn {
    margin-left: 10px;
}

.newPost {
    margin-top: 20px;
}
.deleteBtnInShow {
    margin-bottom: 10px;
}
.addPostBtn {
    margin-top: 20px;
}
.delBtnIndex {
    margin-top: -7px;
}
.postsShow {
    margin-top: 20px;
}
.showTitle {
    margin-top: 10px;
}